img {
  border-radius: 190px;
  width: 39vw;
}

.event-info {
  background: rgba(25, 25, 25, .5);
  color: #f9f9f9;
  width: 50vw;
  margin: 0 auto;
  border-radius: 20px;
  height: 100vh;
  overflow: scroll;
  padding: 3rem;
  margin-top: 2rem;
}

a {
  color: white;
}