header button {
  height: 3.3rem;
  width: 10.5rem;
  margin-top: 1rem;
  margin-right: .2rem;
  border-radius: 10px;
  text-decoration: underline;
  font-size: 1.3rem;
  background: rgba(25, 25, 25, .7);
  box-shadow: 0 0 80px #000000;
  cursor: pointer;
  color: #f9f9f9
  
}

header button:hover {
  background: rgba(39, 14, 14, 0.9);
}

.selected {
  background: rgba(39, 14, 14, 0.9);
}

.error-message {
  background: rgba(39, 14, 14, 0.9);
  color: #f9f9f9;
  height: 2rem;
  font-size: 1rem;
  padding-top: .7rem;
  width: 99vw;
  margin: 1rem auto;
}

header {
  display: flex;
  margin: 0 auto;
  width: 35rem;
  justify-content: space-around;
}

input {
  height: 1.4rem;
  margin-right: .2rem;
  padding-left: .7rem;
}

.routes-container {
  overflow: scroll;
}

@media screen and (max-width: 560px) {
  header {
    flex-direction: row;
    width: 60vw;
    text-align: center;
    align-items: center;
  }

  header button {
    margin-right: 0;
    width: 5rem;
    font-size: .9rem;
  }

  .location-inputs {
    width: 17rem;
  }

  .search-button {
    width: 18rem;
  }
}

@media screen and (max-width: 450px) {
  header {
    width: 70vw;
  }
}

@media screen and (max-width: 375px) {
  header {
    width: 95vw;
  }
}