header button {
  height: 2.5rem;
  width: 7.5rem;
  margin-top: 1rem;
  margin-right: .2rem;
  border-radius: 10px;
  text-decoration: underline;
  font-size: 1.3rem;
  background: rgba(25, 25, 25, .7);
  box-shadow: 0 0 10px #000000;
  cursor: pointer;
  color: #f9f9f9
}

header button:hover {
  background: rgba(50, 34, 34, 0.7);
}

.selected {
  background: rgba(39, 14, 14, 0.9);
}

.selected:hover {
  background: rgba(25, 25, 25, .7);
}

header {
  display: flex;
  margin: 0 auto;
  width: 22rem;
  justify-content: space-around;
}

input {
  height: 1.4rem;
  margin-right: .2rem;
}