.EventCard {
  border: 2px solid;
  background: #d6cbd3;
  border-radius: 20px; 
  width: 45rem;
  margin-bottom: 2rem;
  height: 17rem;
  color: #574f4f;
  text-shadow: 1px 1px #574f4f;
  box-shadow: 0 0 40px #000000;


}

h2 {
  text-decoration: underline;
}

.nav {
  color: #574f4f;
  cursor: pointer;
}